In [1]:
# creating sets
# setss of integer
my_set1={11,33,66,55,44,22,77}
print(my_set1)

# set of mixed datatypes
my_set2={101,"ram",(21,2,33)}
print(my_set2)
# duplicate  value are not allowed
my_set3={21,2,33,44,33,22}
print(my_set3)

{33, 66, 22, 55, 11, 44, 77}
{'ram', (21, 2, 33), 101}
{33, 2, 21, 22, 44}

In [4]:
# set cannot have mutable items
# my_set4={1,2,[3,4]}#type error shows TypeError: unhashable type: 'list' because
# list is mutable so
# we can make set from a list
my_set5=set([1,2,3,4])
print(my_set5)
print(type(my_set5))
# we can make list from  a set
my_list1=list({11,22,33,44,55})
print(my_list1)
print(type(my_list1))

{1, 2, 3, 4}
<class 'set'>
[33, 22, 55, 11, 44]
<class 'list'>

In [4]:
# operation on sets
myset6={11,22,33,44,55,66,77,88}
print(myset6)
# set object doesnot support indexing
# myset6[0] #TypeError: 'set' object is not subscriptable is shown

# add an element
myset6.add(99)# it add  99 in any index because it not support indexing
print(myset6)
# add multiple elements using update ()
myset6.update([111,222,333])
print(myset6)
# add list and set
myset6.update([100,102],[1,2,3,4,5])
print(myset6)

{33, 66, 11, 44, 77, 22, 55, 88}
{33, 66, 99, 11, 44, 77, 22, 55, 88}
{33, 66, 99, 11, 44, 77, 333, 111, 22, 55, 88, 222}
{1, 2, 3, 4, 5, 11, 22, 33, 44, 55, 66, 77, 333, 88, 222, 99, 100, 102, 111}

In [8]:
#remove and discard
#  initialize my-set
myset7={11,22,33,44,55,66,77,88}
print(myset7)
# discard an element which is not present is not showing error
myset7.discard(4)
print(myset7)
# remove an element which is not present  error raised
# myset7.remove(4)#KeyError: 4
print(myset7)
# discard an element
myset7.discard(44)
print(myset7)
myset7.remove(55)
print(myset7)

{33, 66, 11, 44, 77, 22, 55, 88}
{33, 66, 11, 44, 77, 22, 55, 88}
{33, 66, 11, 44, 77, 22, 55, 88}
{33, 66, 11, 77, 22, 55, 88}
{33, 66, 11, 77, 22, 88}

In [12]:
# using pop method
myset8={11,22,33,44,55,66,77,88}
print(myset8.pop())#dele te a random element from the set
# pop another element
print(myset8.pop())
print(myset8)
# clear my set
myset8.clear()
print(myset8)

33
66
{11, 44, 77, 22, 55, 88}
set()

#

In [20]:
# set operation union
myset10={0,1,2,3,4,5}
myset11={4,5,6,7,8,9}
# use | operator for union
print("-----------------")
print(myset10|myset11)
print(myset11|myset10)
print(myset10.union (myset11))
print(myset11.union (myset10))
# intersection on set operation
print("-----------------")
print(myset10&myset11)
print(myset11&myset10)
print(myset10.intersection (myset11))
print(myset11.intersection (myset10))
# set difference operation
print("-----------------")
print(f"myset10-myset11",myset10-myset11)
print(f"myset11-myset10",myset11-myset10)
print(myset10.difference (myset11))
print(myset11.difference (myset10))

# symmetric difference
print("-----------------")
print(f"myset10^myset11",myset10^myset11)
print(f"myset11^myset10",myset11^myset10)
print(myset10.symmetric_difference(myset11))
print(myset11.symmetric_difference (myset10))

-----------------
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
-----------------
{4, 5}
{4, 5}
{4, 5}
{4, 5}
-----------------
myset10-myset11 {0, 1, 2, 3}
myset11-myset10 {8, 9, 6, 7}
{0, 1, 2, 3}
{8, 9, 6, 7}
-----------------
myset10^myset11 {0, 1, 2, 3, 6, 7, 8, 9}
myset11^myset10 {0, 1, 2, 3, 6, 7, 8, 9}
{0, 1, 2, 3, 6, 7, 8, 9}
{0, 1, 2, 3, 6, 7, 8, 9}

In [21]:
# set membership
myset12={0,1,2,3,4,5,6,7,8,9}
print(2 in myset12)
print(11 in myset12)
print(2 not in  myset12)
print(11 not  in myset12)

True
False
False
True

In [ ]:
# iterating through set
for letter in set("welcome"):
    print(letter)
    # the print the element is not in order

o
m
c
w
e
l

In [25]:
# built _in function with set
myset13={0,1,2,3,4,5,6,7,8,9,70,13,50,}
print(len(myset13))
print(min(myset13))
print(max(myset13))
print(sorted(myset13))

13
0
70
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 13, 50, 70]

In [ ]:
#python frozen set
#  frozenset is a new class that has the characterstics
# of a set ,but its element cannot be changed once assigned
# while tuples are immutable lists,frozensets are immutable sets
myset14=frozenset([1,2,3,4])
myset15=frozenset([3,4,5,6])
print(myset14)
print(myset15)
print(myset14.difference(myset15))
print(myset14.union(myset15))
print(myset14.symmetric_difference(myset15))

myset14.add(10)#AttributeError: 'frozenset' object has no attribute 'add'

frozenset({1, 2, 3, 4})
frozenset({3, 4, 5, 6})
frozenset({1, 2})
frozenset({1, 2, 3, 4, 5, 6})
frozenset({1, 2, 5, 6})

AttributeError: 'frozenset' object has no attribute 'add'